<div class="row">
    <div class="col-12 col-md-12 d-block">
        <div class="d-flex justify-content-start">
        <div class="col-2 col-md-2 d-inline div-section d-flex align-item-center align-content-center"><h2 class="mt-1"><i class="fa-solid fa-file-contract"></i><b>  Convenios</b></h2></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 d-block">
        <img class="imagen-con" src="../../assets/img/ClinicaA.jpg" alt="ClinicaA">
    </div>
    <div class="col-md-6">
        <p class="introduccion-convenios">Tenemos como prioridad el bienestar de nuestros pacientes. Por ello, también nos enfocamos de crecer continuamente como institución para brindar la atención de calidad, con equipos médicos modernos, que merecen nuestros pacientes.</p>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-12">
                <h2 class="text-center">Nuestros Valores</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm mb-4 text-start"><i class="fa-solid fa-2x fa-heart" style="color:#00D8C5;"></i> Confianza en Dios</div>
            <div class="col-md-4 col-sm mb-4 text-start"><i class="fa-solid fa-2x fa-heart" style="color:#00D8C5;"></i> Servicio</div>
            <div class="col-md-4 col-sm mb-4 text-start"><i class="fa-solid fa-2x fa-heart" style="color:#00D8C5;"></i> Integridad</div>
            <div class="col-md-4 col-sm mb-4 text-start"><i class="fa-solid fa-2x fa-heart" style="color:#00D8C5;"></i> Ética</div>
            <div class="col-md-4 col-sm mb-4 text-start"><i class="fa-solid fa-2x fa-heart" style="color:#00D8C5;"></i> Compromiso</div>
            <div class="col-md-4 col-sm mb-4 text-start"><i class="fa-solid fa-2x fa-heart" style="color:#00D8C5;"></i> Innovación</div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12 text-center">
        <h2>Gracias por confiar en nosotros</h2>
        <p>No te arriesgues, busca una atención segura</p>
    </div>
</div>
<div class="row mt-4">
        <div class="col-md-3 col-sm justify-content-center text-center">
            <div class=""><i class="fa-solid fa-4x fa-heart-pulse" style="color:#169b90;"></i></div>
            <h2>Atención COVID-19</h2>
            <p class="introduccion-convenios1">Nos sumamos a la lucha contra el COVID-19 con estrictos protocolos de bioseguridad, Pruebas Serológicas, Pruebas de Antígeno y Pruebas Moleculares.</p>
        </div>
        <div class="col-md-3 col-sm justify-content-center text-center">
            <div class=""><i class="fa-brands fa-4x fa-diaspora" style="color:#169b90;"></i></div>
            <h2>Emergencia</h2>
            <p class="introduccion-convenios1">Nuestra prioridad son nuestros pacientes, por ello trabajamos las 24 horas para brindar una atención de calidad con profesionales de experiencia y tecnología médica.</p>
        </div>
        <div class="col-md-3 col-sm justify-content-center text-center">
            <div class=""><i class="fa-solid fa-4x fa-user-doctor" style="color:#169b90;"></i></div>
            <h2>Consultorios Externos</h2>
            <p class="introduccion-convenios1">Nuestros estrictos protocolos de bioseguridad, amplia gama de especialidades y profesionales comprometidos con nuestros garantizan una atención médica de calidad.</p>
        </div>
        <div class="col-md-3 col-sm justify-content-center text-center">
            <div class=""><i class="fa-solid fa-4x fa-stethoscope" style="color:#169b90;"></i></div>
            <h2>Apoyo al Diagnóstico</h2>
            <p class="introduccion-convenios1">Nuestra tecnología y profesionales en los servicios de laboratorio, ecografía, tomografía, rayos x y densitometría ósea aseguran un correcto diagnóstico médico para nuestros pacientes.</p>
        </div>
</div>
<div class="row mt-4">
    <div class="col-md-6 mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3844.7533810955783!2d-70.13463498556042!3d-15.497692119854788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9167f3ef96c1986d%3A0x262a4cb551e82b42!2sCl%C3%ADnica%20Americana%20de%20Juliaca!5e0!3m2!1ses!2spe!4v1657290561629!5m2!1ses!2spe" width="100%" height="100%" style="border: 0;"></iframe>
    </div>
    <div class="col-md-6">
        <div class="row valores1 text-center">
            <h2>Visión</h2>
            <p>Para el periodo 2021 al 2023 ser una institución acreditada y líder en la región, brindando una atención de salud integral y humanizada, extendiendo el ministerio de Cristo.</p>
        </div>
        <div class="row valores2 text-center">
            <h2>Mision</h2>
            <p>Brindar servicios de salud con excelencia, cuidando la salud integral de las personas, reflejando el carácter de Cristo.</p>
        </div>
    </div>
</div>

