.introduccion-convenios{
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
}
.introduccion-convenios1{
    font-size: 15px;
    font-family: 'Teko', sans-serif;
    color: rgb(43, 43, 43);
}
.imagen-con {
    max-width: 100%;
    max-height: 100%;
}
.icon-corazon{
    color: aqua;
}
.valores2{
    background-color: #169b90;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 3%
}
.valores1{
    background-color: #169b90;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%
}