<div class="row">
    <div class="col-12 col-md-12 d-block">
        <div class="d-flex justify-content-start">
        <div class="col-2 col-md-2 d-inline div-section d-flex align-item-center align-content-center"><h2 class="mt-1"><i class="fa-solid fa-file-contract"></i><b>  Convenios</b></h2></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 d-block">
        <img class="imagen-con" src="../../assets/img/ugel.jpg" alt="ClinicaA">
    </div>
    <div class="col-md-6">
        <p class="introduccion-convenios">La UGEL SAN ROMAN, es una Instancia de ejecución Descentralizada del Ministerio de Educación y del Gobierno Regional de Puno, responsable del Servicio Educativo en acción directa con las Instituciones y Programas Educativos, en concordancia con la realidad local y planes educativos del Nivel.</p>
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-md-12">
                <h2 class="text-center">Servicios en Linea</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm mb-4 text-start"><i class="fa-solid fa-computer fa-2x" style="color:#303030;"></i> Tramite documentario</div>
            <div class="col-md-6 col-sm mb-4 text-start"><i class="fa-solid fa-computer fa-2x" style="color:#303030;"></i> Requisitos</div>
            <div class="col-md-6 col-sm mb-4 text-start"><i class="fa-solid fa-computer fa-2x" style="color:#303030;"></i> Oficina de remuneraciones</div>
            <div class="col-md-6 col-sm mb-4 text-start"><i class="fa-solid fa-computer fa-2x" style="color:#303030;"></i> Correo institucional</div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12 text-center">
        <h1 class="valores">Valores</h1>
    </div>
        <div class="col-md-3 col-sm justify-content-center text-center">
            <div class=""><i class="fa-solid fa-building-user fa-4x" style="color:#303030"></i></div>
            <h2>SERVICIO</h2>
            <p class="introduccion-convenios1">Orientamos nuestros esfuerzos a lograr el bienestar de las personas teniendo el compromiso e iniciativa de buscar soluciones a sus necesidades.</p>
        </div>
        <div class="col-md-3 col-sm justify-content-center text-center">
            <div class=""><i class="fa-solid fa-handshake fa-4x" style="color:#303030"></i></div>
            <h2>RESPETO</h2>
            <p class="introduccion-convenios1">Otorgamos a las personas un trato digno y cordial, reconocemos y valoramos los derechos, libertados y las diversas tradiciones y experiencias culturales de nuestra sociedad.</p>
        </div>
        <div class="col-md-3 col-sm justify-content-center text-center">
            <div class=""><i class="fa-solid fa-file-shield fa-4x" style="color:#303030"></i></div>
            <h2>INTEGRIDAD </h2>
            <p class="introduccion-convenios1">Actuamos con honestidad, transparencia objetiva e imparcialidad en nuestras decisiones.</p>
        </div>
        <div class="col-md-3 col-sm justify-content-center text-center">
            <div class=""><i class="fa-solid fa-people-group fa-4x" style="color:#303030"></i></div>
            <h2>EXCELENCIA</h2>
            <p class="introduccion-convenios1">Ejercemos el servicio público maximizando nuestros conocimientos, experiencias y recursos con los que se cuentan, con el propósito de lograr la mayor satisfacción al ciudadano.</p>
        </div>
</div>
<div class="row mt-4">
    <div class="col-md-6 mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3844.9358328425774!2d-70.15484948556053!3d-15.487883319615676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9167f1674a74e505%3A0x45cbadb14af6e6b!2sUGEL%20SAN%20ROM%C3%81N%20-%20JULIACA!5e0!3m2!1ses!2spe!4v1657300869114!5m2!1ses!2spe" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6">
        <div class="row valores1 text-center">
            <h2>Visión</h2>
            <p>Al año 2021 la UGEL , las instituciones educativas y la sociedad de la Provincia de San Román serán actores principales de una educación prospectiva, emprendedora, transformadora basada en la investigación científica, tecnológica y productiva en valores, formando ciudadanos plenos y saludables desde la identidad cultural andina para la vida intercultural, con respeto al ambiente urbano y rural . Con procesos de gestión de calidad y administración transparente, eficiente y eficaz.</p>
        </div>
        <div class="row valores2 text-center">
            <h2>Mision</h2>
            <p>La Unidad de Gestión Educativa Local, las Instituciones Educativas y la sociedad organizada de la Provincia de San Román, están al servicio de la formación integral de los estudiantes.</p>
        </div>
    </div>
</div>

