.btn-personalizado{
    background-color: rgb(80, 0, 60);
    color: bisque;
    border: 1px #000;
    font-size: 14px;
}
.btn-personalizado:hover{
    background-color: rgb(31, 3, 58);
    border: 1px #fff;
}
.texto-convenios{
    background-color: rgba(191, 242, 255, 0.7);
    color: #000;
    padding: 1%;
    font-family: 'Oswald', sans-serif;
}
.letra-convenios{
    font-family: 'Bangers', cursive;
}
.introduccion-convenios{
    font-size: 17px;
}