.introduccion-convenios{
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
}
.introduccion-convenios1{
    font-size: 15px;
    font-family: 'Teko', sans-serif;
    color: rgb(43, 43, 43);
}
.imagen-con {
    max-width: 100%;
    max-height: 100%;
}
.icon-corazon{
    color: #204C79;
}
.valores2{
    background-color: #204C79;
    color: rgb(255, 255, 255);
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    padding: 3%
}
.valores1{
    background-color: #204C79;
    color: rgb(255, 255, 255);
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%
}
.valores{
    font-weight: 900;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.div-info-cat{
    padding-left: 5%;
    padding-right: 5%;
}