<div class="row">
    <div class="col-12 col-md-12 d-block">
        <div class="d-flex justify-content-start">
        <div class="col-2 col-md-2 d-inline div-section d-flex align-item-center align-content-center"><h2 class="mt-1"><i class="fa-solid fa-file-contract"></i><b>  Convenios</b></h2></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 d-block">
        <img class="imagen-con" src="../../assets/img/CAT.jpg" alt="ClinicaA">
    </div>
    <div class="col-md-6">
        <p class="introduccion-convenios">Hace más de 120 años, la Educación Adventista fundamenta su filosofía en sólidos principios y valores, que se aplican diariamente en las actividades estudiantiles, a través de un sistema de enseñanza propio, con profesores calificados y consultoría pedagógica especializada. Ofrece servicios y contenidos digitales que complementan la enseñanza en diferentes plataformas. Una pedagogía consistente, que va más allá de la enseñanza.</p>
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-md-12">
                <h2 class="text-center">Niveles de enseñanza</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm mb-1 text-center"><i class="fa-solid fa-children fa-2x" style="color:#204C79;"></i> Inicial</div>
            <div class="col-md-6 col-sm mb-1 text-center"><i class="fa-solid  fa-school fa-2x" style="color:#204C79;"></i> Primaria</div>
            <div class="col-md-12 col-sm mb-1 mt-1 text-center"><i class="fa-solid fa-people-pulling fa-2x" style="color:#204C79;"></i> Secundaria</div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6 text-center div-info-cat">
        <h1 class="valores">Valores</h1>
        <p class="introduccion-convenios1">La Red de Educación Adventista basa su pedagogía en principios bíblicos-cristianos. Estos valores son aplicados en todas las vivencias académicas del estudiante. Para reforzar esa experiencia, la Red desarrolla el Plan Maestro de Desarrollo Espiritual (PMDE), que enfatiza, a cada bimestre, las virtudes que deben formar parte de la vida en sociedad, tales como: humildad; la igualdad; generosidad e integridad. Una formación completa, que considera al ser humano como manifestación del amor, cuidado y creación de Dios.</p>
    </div>
    <div class="col-md-6 text-center div-info-cat">
        <h1 class="valores">Servicios</h1>
        <p class="introduccion-convenios1">La Red de Educación Adventista ofrece servicios exclusivos para los alumnos, padres y profesores, que facilitan el acceso a la información y al conocimiento, tales como: App - permite el acompañamiento académico del alumno; Sitio de la escuela - información actualizada sobre las actividades de la escuela; Portal Educación ACES - plataforma online con contenidos complementarios, juegos interactivos, videos, multimedia, consejos de estudio y otros recursos para dinamizar y complementar la enseñanza.</p>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6 mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3844.411386453047!2d-70.18235868556008!3d-15.51606182030309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9167f3da0f967cb9%3A0x481962ee84ad5047!2sColegio%20Adventista%20del%20Titicaca!5e0!3m2!1ses!2spe!4v1657309659759!5m2!1ses!2spe" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6">
        <div class="row valores1 text-center">
            <h2>Visión</h2>
            <p>Ser un sistema educativo reconocido por su excelencia, fundamentado en principios biblico cristianos.</p>
        </div>
        <div class="row valores2 text-center">
            <h2>Mision</h2>
            <p>Promover por medio de la eduUcación cristiana,
                el desarrollo integral del educando, formando
                ciudadanos autónomos, comprometidos con Dios
                y con el bienestar de la comunidad y de la patria.</p>
        </div>
    </div>
</div>

