<div class="container body">
    <div class="main_container my-3">
      <!-- page content -->
      <div class="right_col" role="main">
        <!-- top tiles -->
        <div class="row mb-4">
            <div class="col-12 col-md-12 d-block">
                <div class="d-flex justify-content-center">
                <div class="col-sm d-inline div-section d-flex align-item-center align-content-center"><button class="btn-new px-2 py-1" href="#procedimiento"><b>Procedimientos</b></button></div>
                <div class="col-sm d-inline div-section d-flex align-item-center align-content-center"><button class="btn-new px-2 py-1" href="#COD4"><b>Responsabilidades</b></button></div>
                <div class="col-sm d-inline div-section d-flex align-item-center align-content-center"><button class="btn-new px-2 py-1" href="#COD5"><b>Derechos</b></button></div>
                <div class="col-sm d-inline div-section d-flex align-item-center align-content-center"><button class="btn-new px-2 py-1" href="#COD3"><b>Requisitos</b></button></div>
                <div class="col-sm d-inline div-section d-flex align-item-center align-content-center"><button class="btn-new px-2 py-1" href="#COD4"><b>Otros</b></button></div>
                </div>
            </div>
        </div>
        <div class="row" style="display: inline-block;" >
            <div class="col-md-12">
            <div>
              <div>
                <h2 id="procedimiento">Procedimiento Para Realizar Practicas PreProfesionales</h2>
                <br>
                <h4>¿Que son las practicas preprofesionales?</h4>
                <br>
                <p>Es un tipo de modalida formativa que permite a los/as estudiantes 
                  aplicar sus conocimientos, habilidades y aptitudes mediante el desempeño 
                  en una situación de trabajo. Se realia mediante un convenio de aprendizaje 
                  entre: la empresa, el estudiante y la universidad</p>
              </div>
              <div>
                <h2 class="derecho">Derechos Al Realizar Practicas PreProfesionales</h2>
                <br>
                <h4>¿Cuáles son los derechos de los/as practicantes preprofesionales?</h4>
                <br>
                <p>Descansos semanales y en días feriados debidamente subvencionados.
                  Refrigerio. Tienen derecho como minimo a 45 minutos de refrigerio, salvo que el centro de prácticas
                  ofrezca más a sus trabajadores. Los 45 minutos están fuera de sujornada.
                  Descanso de quince dias debidamente subvencionados cuando la duración sea superior a 12 meses.
                  Una subvención adicional equivalente a media subvención económica mensual cada seis meses de
                  duración continúa de la modalidad formativa. No es aplicable para prácticas en el sector público.
                  Tener cubiertos los riesgos de enfermedad y accidentes a través de EsSalud o de un seguro privado
                  equivalente a 14 subvenciones mensuales en caso de enfermedad y 30 por accidente.
                  Cumplir la jornada de 6 horas diarias como máximo o 30 horas semanales.
                </p>
              </div>
              <div>
                <h2 class="negrita">Responsabilidades Del Practicante</h2>
                <br>
                <p>Durante la práctica, el estudiante se compromete a cumplir-a cabalidad y con excelencia con todos los
                  requisitos establecidos por la entidad cooperadora y por su supervisor directo en el Centro de Práctica.
                  Estos requisitos pueden incluir, aunque no se limitan a, los siguientes:
                  Asistir puntualmente a su Centro de Práctica y, de no ser posible, informar con anticipación a su
                  supervisor inmediato
                  .Observar las reglas de seguridad en el trabajo
                  .Realizar las tareas que le sean asignadas con eficiencia y responsabilidad
                  Aplicar sus conocimientos y habilidades al servicio de la entidad que sirve como Centro de Práctica
                  Utilizar adecuadamente el equipo, herramientas, instrumentación, materiales, etc. que pueda ofrecer la
                  entidad cooperadora y mantenerlos en buenas condiciones
                  Entregar diligentemente los informes que sean requeridos
                  Consultar con el supervisor inmediato y con el Coordinador de Práctica COOP en Biología, antes de
                  tomar la decisión de abandonar la práctica, de ser necesario.
                  El estudiante practicante también se compromete a dejarse regir por las normas establecidas por el
                  Coordinador de Práctica
                </p>

                <br>
                <br>
                <h2 class="negrita">Responsabilidades Del Recinto Universitario</h2>
                <br>
                <p>Por su parte, el Coordinador de Práctica COOP en Biologia, en representación del RUM, se compromete a
                  evaluar justamente las solicitudes de práctica y autorizar la matrícula en casos que cualifiquen, por un
                  valor de créditos que corresponda a la naturaleza y extensión de la práctica; a mantener contacto con los
                  estudiantes matriculados en Práctica COOP, facilitándoles la información, formularios y fechas liímites que
                  les permitan cumplir organizadamente con todo aquello que sea requerido para la nota; y a adjudicar notas
                  que reflejen el desempeño de cada estudiante durante su práctica, tomando en cuenta la evaluación del
                  supervisor directo en el Centro de Práctica.
                </p>
              </div>
              <div>
                <h2 class="negrita">Requisitos</h2>
                <br>
                  <p class="lineal">
                    - Foto personal actual con las siguientes caracteristicas: tamaño pasaporte, no porosa, sin marco, de
                  frente, sin lentes, a color con fondo blanco, sin retoques, sin sonreir, con el rostro y las orejas
                  descubiertas y sin prendas en la cabeza, salvo religiosas. Si la Oficina de Atención cuenta con registro
                  digital del trámite (Captura en Vivo) se te hará una toma gratuita de la foto. <br>
                  - Constancia de aprobación de cursos. <br>
                  - Estar en VI ciclo en adelante.
                  </p>
              </div>
              <div>
                <h2>Otros</h2>
                <br>
                <p>
                  Estimado usuario, al registrar la solicitud a través del Formulario Virtual Electrónico, es importante tener en
                  consideración los aspectos que se describen a continuación; asimismo con la finalidad de efectuar las
                  coordinaciones pertinentes, se recomienda consignar un número de teléfono y/o correo electrónico. </p> <br>
                <p>
                  a) Horario de presentación
                  La recepción de solicitudes se realiza en el horario de mesa de partes a nivel nacional (lunes a viernes de
                  08:30 a.m. hasta las 04:30 p.m.; pasado este horario o en dias distintos, la solicitud será ingresada, pero
                  se tendrá por presentada a partir del día hábil siguiente. <br>
                  b)Plazos de atención
                  El plazo de atención es de diez (10) dias hábiles. Cuando sea materialmente imposible cumplir con el plazo
                  antes señialado, por única vez la entidad comunicará al solicitante la fecha en que se proporcionará la
                  información solicitada de forma debidamente fundamentada, en un plazo de dos (2) dias hábiles de
                  recibido el pedido de información. <br>
                  c) Descripción de la solicitud
                  El pedido de información debe ser concreto y preciso, así como cualquier otro dato que propicie la
                  localización o facilite la búsqueda de la información solicitada. No es necesario exponer los motivos que
                  sustentan el requerimiento.
                  La solicitud no implica la obligación de las entidades de la Administración Pública de crear o producir
                  (evaluar o analizar) información con la que no tenga la obligación de contar en dicho momento. <br>
                  d) Subsanación de requisitos
                  La solicitud que no cumpla con los requisitos (nombres, apellidos completos, número de documento de
                  identidad, domicilio, expresión concreta y precisa del pedido u otro dato que facilite la búsqueda, huella o
                  firma si se presenta en ventanilla) puede ser subsanada dentro de los dos dias hábiles de comunicada la
                  observación. <br>
                  e) Consultas
                  Las consultas adicionales pueden formularse de lunesa viernes, de 08:30 a.m. a 04:30 p.m. a través del
                  teléfono O1-3115930 anexo 2090 y/o el correo electrónico: secretaria@upeu.edu.pe
                </p>
                
              </div>
            </div>

          </div>
        
        </div>
          
      </div>
    </div>
  </div>
  